.text{
    
    color: #fff;
    text-shadow: 1px 0 rgb(0, 0, 0), -1px 0  rgb(0, 0, 0), 0 1px  rgb(0, 0, 0), 0 -1px  rgb(0, 0, 0),
               1px 1px rgb(0, 0, 0), -1px -1px  rgb(0, 0, 0), 1px -1px  rgb(0, 0, 0), -1px 1px  rgb(0, 0, 0);
}


.edit_buttons{
    justify-content: space-between;
}

.close_button{
    justify-content: end;
    align-items: flex-end;
    height: auto;
}

.notice_settings{
    display: flex;
}

.settings{
    background-color:antiquewhite;
    height: 200px;
    overflow-y: auto;
    width: 50%;
}
.params{
    background-color: green;
    height: auto;
    height: 200px;
    overflow-y: auto;
    width: 50%;
}