.main-notice-container{
    padding: 15px;
    width: 87%;
    display: flex;
}

.create-notice{
    height: 200px;
    width: 150px;
    background-image: url("../../static/plus.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
}

.create-notice:hover{
    background-color: #f7f7fc;
    background-size: 65px 65px;
    height: 210px;
    width: 160px;
}


.note-container{
    display: flex;
    height: auto;
    width: 90%;
    overflow: auto;
    flex-wrap: wrap;
}