.main-notice-container{
    padding: 15px;
    width: 100%;
    display: flex;
}

.create-notice{
    height: 220px;
    width: 170px;
    margin-top: 15px;
    background-image: url("../../static/plus.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
    width: 15%;
}

.create-notice:hover{
    background-color: radial-gradient(#88BDBC, #9fd0cf);
    animation: forwards;
    animation-name: plus-size;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

@keyframes plus-size {
    to{background-size: 90px 90px;}
}


.note-container{
    display: flex;
    height: auto;
    width: 85%;
    overflow: auto;
    flex-wrap: wrap;
}