<div > 
  <div class="topnav">
    <a [routerLink]="['']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">Bookstore</a>
    <a [routerLink]="['/orders']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      *ngIf='isLoggedIn'>Orders</a>

    </div>
      <mat-card *ngIf="!isLoggedIn">
        <mat-form-field class="example-form-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="user@mail.ru" #email>
        </mat-form-field>      
        <mat-form-field class="example-form-field">
          <mat-label>Password</mat-label>
          <input type="password" matInput #password>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)='login(email.value, password.value)'>Login</button>
      </mat-card>

      <mat-card *ngIf='isLoggedIn'>
        <button mat-flat-button color="primary" (click)='logout()'>Logout</button>
      </mat-card>
      <router-outlet></router-outlet>
</div>