.topnav{
    overflow:hidden;
    background-color: #112d32;

    a{
        float:left;
        color:#f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover{
            background-color: #ddd;
            color: black;

        }

        &.active{
            background-color: #4caf50;
            color: white;
        }
    }
}


.main{
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
}

.menu{
   width: 20%; 
}

.title{
    color: white;
    font-size: large;
    font-weight: 500;
    display:flex;
    align-items: center;
    margin-left: 10px;
}

.example-form-field{
    margin-right: 20px;
}

.header{
    display: flex;
 justify-content: space-between;
}


.profile-mini{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.profile-mini-color-change:hover{ 
    -webkit-filter:  brightness(1.5); 
    filter: brightness(1.5); 
}

.mini_profile{
    text-align: center;
    color:rgb(255, 255, 255);
}

.mini_profile:hover{
    color: #ddd;
}

.mini_profile_name{
    margin: 0%;
    padding: 0;
}

