.little-note{
    height: 220px;
    width: 170px;
    margin: 7px;
    padding: 7px;
    color: #fff;
    text-shadow: 1px 0 rgb(0, 0, 0), -1px 0  rgb(0, 0, 0), 0 1px  rgb(0, 0, 0), 0 -1px  rgb(0, 0, 0),
               1px 1px rgb(0, 0, 0), -1px -1px  rgb(0, 0, 0), 1px -1px  rgb(0, 0, 0), -1px 1px  rgb(0, 0, 0);
               text-shadow: 1px;

}

.little-note:hover{
   // background-color:chartreuse;
   // background-size: 65px 65px;
      height: 230px;
    width: 180px;
    animation: forwards;
    animation-name: glow-around;
    animation-duration: 0.5s;    

}

@keyframes glow-around {
    to {    
        animation-duration: 1s;
        background-color: #fff;
        box-shadow:
          0 0 6px 3px #fff,  /* inner white */
          0 0 10px 6px rgb(255, 123, 255), /* middle magenta */
          0 0 14px 9px rgb(130, 255, 255); /* outer cyan */}
  }

.note-title{
display: flex;
justify-content: space-between;
}

.edit-btn{
    margin: 0;
    padding:0;
}

.note-body{
    padding-top: 10px;
    height: 80%;
    overflow: hidden;
}

.note-picture{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}