<div class="login-form">
    <div class="example-form-field mail-input">
      <div>Email</div>
      <input type="email" matInput placeholder="user@mail.ru" #email [(ngModel)]="regModel.email">
    </div>
    <div class="example-form-field pass-input">
      <div>Password</div>
      <input type="text" matInput #password [(ngModel)]="regModel.password">
    </div>
    <div class="example-form-field pass-input">
      <div>Name</div>
      <input type="text" matInput #name  [(ngModel)]="regModel.name">
    </div>
    <div class="example-form-field pass-input">
      <div>Secondname</div>
      <input type="text" matInput #secName [(ngModel)]="regModel.secName">
    </div>
    <div class="example-form-field pass-input">
      <input type="file" #file placeholder="Choose file" (change)="onselectFile($event)" style="display:none;">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="file.click()">Upload File</button>
      </div>
    <div class="login-button">
    <button  mat-flat-button color="primary" (click)='registration()'>Login</button>
  </div>
  </div>