<div>
    <span>Catalog:</span>
    <table>
        <head>
            <tr>
                <td>Id</td>
                <td>author</td>
                <td>title</td>
                <td>price</td>
            </tr>
        </head>
        <tbody>
            <ng-container >
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.author}}</td>
                <td>{{order.title}}</td>
                <td>{{order.price}}</td>
            </tr></ng-container>
    </tbody>
    </table>
</div> 