.login-form{
 justify-content: center;
 align-items: center;
 margin: auto;
}

.mail-input{
    width: 400px;
    margin: auto;
}

.pass-input{
    width: 400px;
    margin: auto;
}

.login-button{
    
    width: 400px;
    margin: auto;
}